<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.altervista.obesitycalcs"
        versionCode = "10" 
        version     = "1.0.2" >

    <!-- versionCode is optional and Android only -->

    <name>BigSleep2</name>

    <description>
        Manage obese perioperative patients. 
    </description>

    <author  email="jfriesn@cc.umanitoba.ca">
        John Friesen 
    </author>
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    
    <preference name="prerendered-icon" value="true" />
    
    <icon src="icons/ios/Icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/Icon@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="icons/ios/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />
    
    <icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

</widget>
